#centre {
  display: flex;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
}

.idea {
  margin: 100px auto;
  border: 0px solid #333;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.219);
  padding: 20px;
  width: 550px;
  height: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: center;
}

.idea h1 {
  font-size: 26px;
}

.idea h2 {
  font-size: 16px;
}

.idea img {
  height: 450px;
  width: 100%;
  object-fit: cover;
  margin-top: 30px;
  border: 0.5px solid #333;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.219);
  /* padding: 20px; */
}

.menu {
  margin: 100px auto;
  border: 0px solid #333;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.219);
  padding: 20px;
  width: 550px;
  height: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.menu img {
  height: 300px;
  width: 300px;
  margin: 100px;
  margin-top: 30px;
}

.menu p {
  font-size: 16px;
  font-style: normal;
}

.menu h1 {
  text-align: center;
  font-size: 26px;
}

.menu h2 {
  text-align: center;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .burger{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  display: none; 
  cursor: pointer;
}
}

@media screen and (max-width: 768px) {
  header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav {
    display: none; 
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
/* 
  .burger {
    display: block;
  }
} */

footer {
  background-color: #774738e1;
  color: #fff;
  padding-top: 50px;
  text-align: center;
  position: absolute;
  width: 100%;
}
