@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
  position: relative;
  /* background-color: rgba(222, 184, 135, 0.437); */
}

a {
  padding: 20px;
  text-decoration: none;
  color: #fff;
}

header {
  background: rgba(119, 71, 56, 0.986);
  background: linear-gradient(90deg, rgba(119, 71, 56, 0) 0%, rgba(119,71,56,0.9391304347826087) 75%, rgba(255,0,63,0) 100%, rgba(154, 91, 72, 0.884) 100%); 
  transition:background-color 0.3s ease; 
  display: flex;
  align-items: center;
  min-height: 80px;
}

header p {
  font-family: "Poppins", sans-serif;
  font-weight: 395;
  font-size: 30px;
  font-style: italic;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header.visible {
  background-color:#774738b2 ; 
}
.logo {
  width: 130px;
  height: 130px;
}

nav {
  margin: auto;

}

nav a:hover {
  background-color: #d6bba7;
}

main {
  display: block;
  justify-content: center;
  align-items: center;
}


 
