<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="../assets/css/index.css" />
    <link rel="shortcut icon" href="../assets/img/logogood.png"/>
    <link rel="stylesheet" href="../assets/css/digestion.css">
    <script src="../assets/js/main.js" defer></script>
  </head>
</head>
<body>

    <header>
        <a href="../index.html"
          ><img class="logo" src="../assets/img/logo.png" alt="logo"
        /></a>
        <nav id="nav">
          <a href="./recettes.html">Recettes</a>
          <a href="./menu-semaine.html">Menu de la semaine</a>
          <a href="">Recette de saisons</a>
          <a href="./digestion.html">Astuces digestion</a>
          <a href="./login.html">Connexion</a>
        </nav>
        <div class="burger" id="burger">
          <img src="../assets/img/burger (2).png" alt="menuburger" />
        </div>
      </header>


      <main>

<h1>Nos astuces pour une meilleure digestion</h1>

<h2>Le gingembre</h2>
<p>Le gingembre est connu pour ses propriétés digestives, notamment en stimulant les enzymes digestives et en soulageant les nausées. Il est particulièrement efficace sous forme d'infusion, de jus, ou d'huile essentielle. Les composés actifs comme le gingérol aident à apaiser l’estomac et à améliorer la motilité intestinale​ (https://www.passeportsante.net/)​.​ </p>

<h2>La menthe poivrée</h2>
<p>La menthe poivrée est un antispasmodique naturel qui aide à soulager les inflammations intestinales et les ballonnements. Consommée en infusion ou sous forme d'huile essentielle, elle facilite la digestion et apaise l'inconfort abdominal​ (JDF Santé).​ </p>

<h2>La fenouil</h2>
<p>Le fenouil est excellent pour la digestion grâce à ses propriétés anti-inflammatoires et antispasmodiques. Il réduit les brûlures d'estomac, les ballonnements et les nausées. Les graines de fenouil peuvent être mâchées ou infusées pour bénéficier de ses effets​ (https://www.passeportsante.net/).</p>

<h2>L'ananas</h2>
<p>L'ananas contient de la bromélaïne, une enzyme qui aide à la digestion des protéines, facilitant ainsi le processus digestif. Pour profiter de ses bienfaits, il est recommandé de consommer l'ananas frais et cru​ (Top Santé)​.​ </p>


<h2>Les graines de lin</h2>
<p>Riches en fibres solubles, les graines de lin favorisent la réabsorption d'eau et de sodium, ce qui aide à lutter contre la constipation. Elles peuvent être ajoutées à des yaourts, des smoothies ou des salades​ (https://www.passeportsante.net/)​​ (Sélection du Reader's Digest)​.</p>

<h2>La pomme</h2>
<p>Les pommes sont riches en fibres, en particulier en pectine, ce qui facilite le transit intestinal et aide à maintenir une bonne digestion. Les pommes doivent être consommées avec la peau pour un maximum de bénéfices​ (marmiton.org)​.​ </p>

<h2>Le yaourt</h2>
<p>Le yaourt est riche en probiotiques, qui améliorent la flore intestinale et facilitent la digestion. Pour bénéficier de ses bienfaits, il est conseillé de consommer le yaourt nature et non sucré​ (Top Santé)​.​ </p>

<h2>Les haricots verts</h2>
<p>Les haricots verts sont riches en fibres et en vitamines, ce qui aide à améliorer le transit intestinal. Ils doivent être bien cuits pour éviter les flatulences​ (https://www.passeportsante.net/)​.​ </p>

<h2>La choucroute</h2>
<p>La choucroute, un aliment fermenté, est riche en probiotiques, qui favorisent une digestion saine et peuvent aider à prévenir la constipation. Elle est également utile pour améliorer la digestion du lactose​ (Sélection du Reader's Digest)​.​ </p>

<h2>La kéfir</h2>
<p>Le kéfir est un produit laitier fermenté riche en probiotiques, qui aide à maintenir une flore intestinale équilibrée et à réguler le transit intestinal. Il est particulièrement bénéfique lorsqu'il est consommé régulièrement​ (Sélection du Reader's Digest)​.</p>


<p>
  Ces aliments, consommés régulièrement, peuvent aider à maintenir un système digestif sain et à prévenir divers troubles digestifs. Pour plus d'informations sur les bienfaits de ces aliments, vous pouvez consulter des sources comme Passeport Santé, Journal des Femmes, Marmiton et Top Santé.

</p>
      </main>
    
</body>
</html>