<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../assets/css/login.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/index.css">
    <script src="../assets/js/main.js" defer></script>
</head>
<body>
    <main>
        <header>
            <a href="../index.html"><img class="logo" src="../assets/img/logo.png" alt="logo" /></a> 
            <a href="#"><i class="fa-solid fa-user"></i></a>
            <a><i id="logoutButton" class="fa-solid fa-arrow-right-from-bracket"></i></a>

            <nav id="nav">
                <ul>
                  <li>
                    <a href="">Recettes</a>
                    <ul>
                      <li><a href="#">Entrées</a></li>
                      <li><a href="#">Plats</a></li>
                      <li><a href="../view/desserts.html">Desserts</a></li>
                      <li><a href="../view/refresh.html">Rafraîchissements</a></li>
                      <li><a href="#">Recettes sans cuissons</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="">Menu de la semaine</a>
                    <ul>
                      <li><a href="#">Veggie</a></li>
                      <li><a href="#">Familiale</a></li>
                      <li><a href="#">Cuisine du monde</a></li>
                      <li><a href="#">-10E</a></li>
                      <li><a href="#">Healthy</a></li>
                    </ul>
                  </li>
        
                  <li>
                    <a href="">Recette de saisons</a>
                    <ul>
                      <li><a href="#">Des fleurs et du soleil</a></li>
                      <li><a href="#">Fraîcheur d'été</a></li>
                      <li><a href="#">Citrouille et potiron</a></li>
                      <li><a href="#">Plats réconfortants</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="">Astuces digestion</a>
                    <ul>
                      <li><a href="#">Aliments digestes</a></li>
                      <li><a href="#">Recettes légères</a></li>
                      <li><a href="#">Conseils santé</a></li>
                    </ul>
                  </li>
                </ul>
              </nav>
              <div class="burger" id="burger">
                <img src="../assets/img/burger (2).png" alt="menuburger" />
              </div>
        </header>

        <section class="wrapper">
                <form id="form">
                <h1>Connectez-vous</h1>
                <section class="input-box">
                    <input type="email" id="email" placeholder="Entrez votre email" required>
                    <i class="fa-solid fa-user"></i>
                </section>

                <section class="input-box">
                    <input type="password" id="password" placeholder="Entrez votre mot de passe" required>
                    <i class="fa-solid fa-lock"></i>
                </section>

                <section class="remember-forgot">
                    <label><input type="checkbox">Se souvenir de moi</label>
                    <a href="#">Mot de passe oublié ?</a>
                </section>

                <input type="submit" class="btn" value="Connectez-vous">
                <section class="register-link">
                    <p>Vous n'avez pas de compte ? <a href="#">Enregistrez-vous</a></p>
                </section>
            </form>  
        </section> 
        </main>
</body>
</html>