<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Dishes</title>
    <link rel="stylesheet" href="../assets/css/index.css">
  <link rel="stylesheet" href="../assets/css/style.css" />
<link rel="stylesheet" href="../assets/css/refresh.css">
  <link rel="shortcut icon" href="../assets/img/logogood.png" />
  <script src="../assets/js/main.js" defer></script>
</head>
<body>
    <header>
        <a href="index.html"
          ><img class="logo" src="../assets/img/logo.png" alt="logo"
        /></a>
  
        <nav id="nav">
         
              <a href="./recettes.html">Recettes</a>
              <a href="">Menu de la semaine</a>
              <a href="">Recette de saisons</a>
              <a href="">Astuces digestion</a>
            <a href="./login.html">Connexion</a>
          
        </nav>
        <div class="burger" id="burger">
          <img src="../assets/img/burger.png" alt="menuburger" />
        </div>
      </header>
  
      <main>
        <h1>Les plats</h1>
        <h2>Des délices désaltérants accompagnent chaque bouchée, les boissons rafraîchissantes se mêlent en harmonie aux saveurs des repas, offrant une symphonie de fraîcheur et de plaisir gustatif.</h2>
        <h2>Découvrez des boissons aux saveurs du monde, aux goûts sucrés, doux, inconnu et parfois piquants</h2>
  
  
    
      <figure class="figure zoom-container">
        <img src="../assets/img/dahl.jpg" alt="Boisson rafraîchissante" class="zoom">
        <figcaption class="caption">Salade crevettes/Avocats</figcaption>
      </figure>
    
      <figure class="figure zoom-container">
        <img src="../assets/img/salmon.jpg" alt="Boisson rafraîchissante" class="zoom">
        <figcaption class="caption">Salade de pâte aux saveurs méditerranéene</figcaption>
      </figure>
    
    
      <figure class="figure zoom-container">
        <img src="../assets/img/bettrave toast.jpg" alt="Boisson rafraîchissante" class="zoom">
        <figcaption class="caption">Tartare de macédoine</figcaption>
      </figure>
  
      <figure class="figure zoom-container">
        <img src="../assets/img/courgettes.jpg" alt="Boisson rafraîchissante" class="zoom">
        <figcaption class="caption">Salade de courgette</figcaption>
      </figure>
  
  
      <figure class="figure zoom-container">
        <img src="../assets/img/feta-crudité.jpg" alt="Boisson rafraîchissante" class="zoom">
        <figcaption class="caption">Salade de crudité et feta</figcaption>
      </figure>
  
      <figure class="figure zoom-container">
        <img src="../assets/img/salade-agrumes.jpg" alt="Boisson rafraîchissante" class="zoom">
        <figcaption class="caption">Salade d'agrumes</figcaption>
      </figure>
  
  
    </main>
  
  
      <footer>
        <div class="social">
          <h3>Nos réseaux sociaux</h3>
          <a href=""> <img src="../assets/img/insta.png" alt="" /> </a>
          <a href=""> <img src="../assets/img/tiktok.png" alt="" /> </a>
          <p></p>
        </div>
        <p>© 2024 DjoumaCook. Tous droits réservés.</p>
      </footer>
</body>
</html>