<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Dishes</title>
    <link rel="stylesheet" href="../assets/css/index.css">
  <link rel="stylesheet" href="../assets/css/style.css" />
  <link rel="stylesheet" href="../assets/css/index.css" />
  <link rel="shortcut icon" href="../assets/img/logogood.png" />
  <script src="../assets/js/main.js" defer></script>
</head>
<body>
    <header>
        <a href="index.html"
          ><img class="logo" src="../assets/img/logo.png" alt="logo"
        /></a>
  
        <nav id="nav">
          <ul>
            <li>
              <a href="">Recettes</a>
              <ul>
                <li><a href="../view/starters.html">Entrées</a></li>
                <li><a href="../view/main-dishes.html">Plats</a></li>
                <li><a href="../view/desserts.html">Desserts</a></li>
                <li><a href="../view/refresh.html">Rafraîchissements</a></li>
                <li><a href="#">Recettes sans cuissons</a></li>
              </ul>
            </li>
            <li>
              <a href="">Menu de la semaine</a>
              <ul>
                <li><a href="#">Veggie</a></li>
                <li><a href="#">Familiale</a></li>
                <li><a href="#">Cuisine du monde</a></li>
                <li><a href="#">-10E</a></li>
                <li><a href="#">Healthy</a></li>
              </ul>
            </li>
  
            <li>
              <a href="">Recette de saisons</a>
              <ul>
                <li><a href="#">Des fleurs et du soleil</a></li>
                <li><a href="#">Fraîcheur d'été</a></li>
                <li><a href="#">Citrouille et potiron</a></li>
                <li><a href="#">Plats réconfortants</a></li>
              </ul>
            </li>
            <li>
              <a href="">Astuces digestion</a>
              <ul>
                <li><a href="#">Aliments digestes</a></li>
                <li><a href="#">Recettes légères</a></li>
                <li><a href="#">Conseils santé</a></li>
              </ul>
            </li>
            <a href="../view/login.html">Connexion</a>
          </ul>
        </nav>
        <div class="burger" id="burger">
          <img src="../assets/img/burger.png" alt="menuburger" />
        </div>
      </header>
  
      <main>
          <h1>Les boissons</h1>
          <h2>Des délices désaltérants accompagnent chaque bouchée, les boissons rafraîchissantes se mêlent en harmonie aux saveurs des repas, offrant une symphonie de fraîcheur et de plaisir gustatif.</h2>
          <h2>Découvrez des boissons aux saveurs du monde, aux goûts sucrés, doux, inconnu et parfois piquants</h2>
  
  
      
        <figure class="figure zoom-container">
          <img src="../assets/img/boisson1.jpg" alt="Boisson rafraîchissante" class="zoom">
          <figcaption class="caption">Jus de gingembre</figcaption>
        </figure>
      
        <figure class="figure zoom-container">
          <img src="../assets/img/boisson3.jpg" alt="Boisson rafraîchissante" class="zoom">
          <figcaption class="caption">Jus de bouye(fruit du baobab)</figcaption>
        </figure>
      
      
        <figure class="figure zoom-container">
          <img src="../assets/img/boisson2.jpg" alt="Boisson rafraîchissante" class="zoom">
          <figcaption class="caption">Milkshake fraise</figcaption>
        </figure>
  
        <figure class="figure zoom-container">
          <img src="../assets/img/boisson5.jpg" alt="Boisson rafraîchissante" class="zoom">
          <figcaption class="caption">Mojito Passion</figcaption>
        </figure>
  
  
        <figure class="figure zoom-container">
          <img src="../assets/img/boisson4.jpg" alt="Boisson rafraîchissante" class="zoom">
          <figcaption class="caption">Jus de bissap</figcaption>
        </figure>
  
  
      </main>
  
      <footer>
        <div class="social">
          <h3>Nos réseaux sociaux</h3>
          <a href=""> <img src="../assets/img/insta.png" alt="" /> </a>
          <a href=""> <img src="../assets/img/tiktok.png" alt="" /> </a>
          <p></p>
        </div>
        <p>© 2024 DjoumaCook. Tous droits réservés.</p>
      </footer>
</body>
</html>