<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DjoumaCook</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="../assets/css/index.css">
    <link rel="shortcut icon" href="../assets/img/logogood.png" />
    <link rel="stylesheet" href="../assets/css/recettes.css" />
    <script src="../assets/js/main.js" defer></script>
  </head>
  <body>
    <header>
      <a href="../index.html"
        ><img class="logo" src="../assets/img/logo.png" alt="logo"
      /></a>

      <nav id="nav">
        <a href="./recettes.html">Recettes</a>
        <a href="./menu-semaine.html">Menu de la semaine</a>
        <a href="./recettes-saisons.html">Recette de saisons</a>
        <a href="./astuces.html">Astuces digestion</a>
        <a href="./login.html">Connexion</a>
      </nav>
      <div class="burger" id="burger">
        <img src="../assets/img/burger (2).png" alt="menuburger" />
      </div>
    </header>

    <main>
      <h1>Menu de la semaine</h1>
      <h2>
        Découvrez les recettes de DjoumaCook, votre source ultime pour des plats
        délicieux et faciles à réaliser. Explorez une gamme variée d'entrées,
        plats principaux, desserts et rafraîchissements, adaptés à chaque
        occasion et saison. Trouvez l'inspiration et suivez nos instructions
        simples pour préparer des repas savoureux et équilibrés qui raviront vos
        papilles à chaque bouchée.
      </h2>
      <h2>
        Découvrez des boissons aux saveurs du monde, aux goûts sucrés, doux,
        inconnu et parfois piquants
      </h2>
      
      <div class="menu-semaine">

        <div class="idea">
            <h1>Menu Tradi</h1>
            <h2>Lundi</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            <h2>Mardi</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            <h2>Mercredi</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    
            <h2>Jeudi</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    
            <h2>Vendredi</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    
            <h2>Samedi</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            <h2>Dimanche</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
          </div>
    
          <div class="idea">
            <h1>Menu Veggie</h1>
            <h2>Lundi</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            <h2>Mardi</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            <h2>Mercredi</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    
            <h2>Jeudi</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    
            <h2>Vendredi</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    
            <h2>Samedi</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            <h2>Dimanche</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
          </div>
    
          <div class="idea">
            <h1>Menu à moins de 10e</h1>
            <h2>Lundi</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            <h2>Mardi</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            <h2>Mercredi</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    
            <h2>Jeudi</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    
            <h2>Vendredi</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    
            <h2>Samedi</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            <h2>Dimanche</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
          </div>
      </div>
    </main>

    <footer>
      <div class="social">
        <h3>Nos réseaux sociaux</h3>
        <a href=""> <img src="../assets/img/insta.png" alt="" /> </a>
        <a href=""> <img src="../assets/img/tiktok.png" alt="" /> </a>
        <p></p>
      </div>
      <p>© 2024 DjoumaCook. Tous droits réservés.</p>
    </footer>
  </body>
</html>
