<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Les rafraîchissements</title>
    <script src="../assets/js/main.js" defer></script>
    <script src="../assets/js/refresh.js" defer></script>
    <script src="../assets/js/starters.js" defer></script>
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="../assets/css/index.css" />
    <link rel="stylesheet" href="../assets/css/refresh.css">
    <link rel="stylesheet" href="../assets/css/starters.css">
  </head>

  <body>
    <header>
      <a href="../index.html"
        ><img class="logo" src="../assets/img/logo.png" alt="logo"
      /></a>

      <nav id="nav">
        <ul>
          <li>
            <a href="">Recettes</a>
            <ul>
              <li><a href="../view/starters.html">Entrées</a></li>
              <li><a href="#">Plats</a></li>
              <li><a href="../view/desserts.html">Desserts</a></li>
              <li><a href="../view/refresh.html">Rafraîchissements</a></li>
              <li><a href="#">Recettes sans cuissons</a></li>
            </ul>
          </li>
          <li>
            <a href="">Menu de la semaine</a>
            <ul>
              <li><a href="#">Veggie</a></li>
              <li><a href="#">Familiale</a></li>
              <li><a href="#">Cuisine du monde</a></li>
              <li><a href="#">-10E</a></li>
              <li><a href="#">Healthy</a></li>
            </ul>
          </li>

          <li>
            <a href="">Recette de saisons</a>
            <ul>
              <li><a href="#">Des fleurs et du soleil</a></li>
              <li><a href="#">Fraîcheur d'été</a></li>
              <li><a href="#">Citrouille et potiron</a></li>
              <li><a href="#">Plats réconfortants</a></li>
            </ul>
          </li>
          <li>
            <a href="">Astuces digestion</a>
            <ul>
              <li><a href="#">Aliments digestes</a></li>
              <li><a href="#">Recettes légères</a></li>
              <li><a href="#">Conseils santé</a></li>
            </ul>
          </li>
          <a href="../view/login.html">Connexion</a>
        </ul>
      </nav>
      <div class="burger" id="burger">
        <img src="../assets/img/burger.png" alt="menuburger" />
      </div>
    </header>

    <main>
        <h1>Entrées</h1>
        <h2>Des délices désaltérants accompagnent chaque bouchée, les boissons rafraîchissantes se mêlent en harmonie aux saveurs des repas, offrant une symphonie de fraîcheur et de plaisir gustatif.</h2>
        <h2>Découvrez des boissons aux saveurs du monde, aux goûts sucrés, doux, inconnu et parfois piquants</h2>


    
      <figure class="figure zoom-container">
        <img src="../assets/img/feta-crudité.jpg" alt="salade" class="zoom">
        <figcaption class="caption"><h2>Salade de Feta</h2>
       <h3>Ingrédients</h3>
       <ul>
           <li>Salade type battavia</li>
            <li>feta</li>
            <li>concombre</li>
            <li>tomate</li>

       </ul>
        </figcaption>
      </figure>
    
      <figure class="figure zoom-container">
        <img src="../assets/img/pasta.jpg" alt="Boisson rafraîchissante" class="zoom">
        <figcaption class="caption">Salade de pâtes</figcaption>
      </figure>
    
    
      <figure class="figure zoom-container">
        <img src="../assets/img/macédoine.jpg" alt="Boisson rafraîchissante" class="zoom">
        <figcaption class="caption">Macédoine-oeufs durs</figcaption>
      </figure>

      <figure class="figure zoom-container">
        <img src="../assets/img/courgettes.jpg" alt="Boisson rafraîchissante" class="zoom">
        <figcaption class="caption">Salade de courgettes</figcaption>
      </figure>


      <figure class="figure zoom-container">
        <img src="../assets/img/muffin-salé.jpg" alt="Boisson rafraîchissante" class="zoom">
        <figcaption class="caption">muffins salés</figcaption>
      </figure>

      
      <figure class="figure zoom-container">
        <img src="../assets/img/salade-agrumes.jpg" alt="Boisson rafraîchissante" class="zoom">
        <figcaption class="caption">Salade d'agrumes</figcaption>
      </figure>

      
      <figure class="figure zoom-container">
        <img src="../assets/img/salade-composée.jfif" alt="Boisson rafraîchissante" class="zoom">
        <figcaption class="caption">Salade composée</figcaption>
      </figure>
      
      <figure class="figure zoom-container">
        <img src="../assets/img/crevettes-avocat.jpg" alt="Boisson rafraîchissante" class="zoom">
        <figcaption class="caption">Schrimp and avocado</figcaption>
      </figure>
    </main>

    <footer>
      <div class="social">
        <h3>Nos réseaux sociaux</h3>
        <a href=""> <img src="../assets/img/insta.png" alt="" /> </a>
        <a href=""> <img src="../assets/img/tiktok.png" alt="" /> </a>
        <p></p>
      </div>
      <p>© 2024 DjoumaCook. Tous droits réservés.</p>
    </footer>
  </body>
</html>
