<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DjoumaCook</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="shortcut icon" href="../assets/img/logogood.png" />
    <link rel="stylesheet" href="../assets/css/refresh.css" />
    <script src="../assets/js/main.js" defer></script>
  </head>
  <body>
    <header>
      <a href="../index.html"
        ><img class="logo" src="../assets/img/logo.png" alt="logo"
      /></a>

      <nav id="nav">
        <a href="./recettes.html">Recettes</a>
        <a href="./menu-semaine.html">Menu de la semaine</a>
        <a href="./recettes-saisons.html">Recette de saisons</a>
        <a href="./astuces.html">Astuces digestion</a>
        <a href="./login.html">Connexion</a>
      </nav>
      <div class="burger" id="burger">
        <img src="../assets/img/burger (2).png" alt="menuburger" />
      </div>
    </header>

    <main>
      <h1>Les entrées</h1>
      <h2>Des délices désaltérants accompagnent chaque bouchée, les boissons rafraîchissantes se mêlent en harmonie aux saveurs des repas, offrant une symphonie de fraîcheur et de plaisir gustatif.</h2>
      <h2>Découvrez des boissons aux saveurs du monde, aux goûts sucrés, doux, inconnu et parfois piquants</h2>


  
    <figure class="figure zoom-container">
      <img src="../assets/img/crevettes-avocat.jpg" alt="Boisson rafraîchissante" class="zoom">
      <figcaption class="caption">Salade crevettes/Avocats</figcaption>
    </figure>
  
    <figure class="figure zoom-container">
      <img src="../assets/img/pasta.jpg" alt="Boisson rafraîchissante" class="zoom">
      <figcaption class="caption">Salade de pâte aux saveurs méditerranéene</figcaption>
    </figure>
  
  
    <figure class="figure zoom-container">
      <img src="../assets/img/macédoine.jpg" alt="Boisson rafraîchissante" class="zoom">
      <figcaption class="caption">Tartare de macédoine</figcaption>
    </figure>

    <figure class="figure zoom-container">
      <img src="../assets/img/courgettes.jpg" alt="Boisson rafraîchissante" class="zoom">
      <figcaption class="caption">Salade de courgette</figcaption>
    </figure>


    <figure class="figure zoom-container">
      <img src="../assets/img/feta-crudité.jpg" alt="Boisson rafraîchissante" class="zoom">
      <figcaption class="caption">Salade de crudité et feta</figcaption>
    </figure>

    <figure class="figure zoom-container">
      <img src="../assets/img/salade-agrumes.jpg" alt="Boisson rafraîchissante" class="zoom">
      <figcaption class="caption">Salade d'agrumes</figcaption>
    </figure>


  </main>

    <footer>
      <div class="social">
        <h3>Nos réseaux sociaux</h3>
        <a href=""> <img src="../assets/img/insta.png" alt="" /> </a>
        <a href=""> <img src="../assets/img/tiktok.png" alt="" /> </a>
        <p></p>
      </div>
      <p>© 2024 DjoumaCook. Tous droits réservés.</p>
    </footer>
  </body>
</html>
